{% extends 'base.html.twig' %}

{% block title %}Toutes les sorties ! | {{ parent() }}{% endblock %}

{% block body %}
    <h2>Toutes les sorties !</h2>

        {% for sortie in sorties %}
            <div class="card mt-2 mb-2 w-50 m-auto">
                <div class="card-body">

                        <article>

                                Sortie: <a href="{{ path('sortie_detail', {'id': sortie.id}) }}"
                                           title="Voir les sorties en détails">  {{ sortie.nom }}</a> <br>
                                Lieu:{{ sortie.lieu.nom }} <br>
                                Nombre de participants:{{ sortie.participants.count }} / {{ sortie.nbInscriptionMax }}

                        </article>

                </div>
            </div>
        {% else %}
            <li>Pas de sortie dans la bdd</li>
        {% endfor %}

{% endblock %}
