<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                {% if app.user %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_acceuil') }}"
                       title="Accueil">Accueil</a>
                </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('mon_profil') }}"
                           title="Mon profil">Mon profil</a>
                    </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sortie_list') }}"
                       title="Les sorties disponibles">Les sorties disponibles</a>
                </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sortie_create') }}"
                           title="Créer une sortie">Créer une sortie ! </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"
                           title="Se déconnecter">Se déconnecter</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"
                           title="Se connecter">Se connecter</a>
                    </li>
                {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}"
                           title="Register">Enregistrer un utilisateur</a>
                    </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('list_users') }}"
                               title="Register">Liste des utilisateurs</a>
                        </li>

                    {% endif %}

            </ul>
        </div>
    </div>
</nav>

