<nav class="navbar navbar-expand-lg">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_acceuil') }}"
                       title="Accueil">Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('sortie_list') }}"
                       title="All things to do">Les sorties disponibles</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_about_us') }}"
                       title="About us">About us</a>
                </li>
                {% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('sortie_create') }}"
                           title="Add your ideas">Créer une sortie ! </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_logout') }}"
                           title="Sign out">Sign out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}"
                           title="Sign in">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}"
                           title="Register">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

